<div 
    class="
        before:w-[55px] before:md:w-[85px] before:h-[6px] before:rounded-[19px] before:block before:bg-pink-200 
        
        {% if first %}
            before:opacity-100
        {% else %}
            before:opacity-20
        {% endif %}
    "
    quiz-page="{{ page }}"
>
</div>