<button 
    class="
        md:w-[188px] rounded-[5px] py-[18px] px-2.5
        font-heading font-bold text-paragraph uppercase justify-center
        transition-colors duration-200
        {{ class }}
    "
    {{ custom_attributes }}
>
    <span class="pointer-events-none">
        {{ text }}
    </span>
</button>